html,
body {
    padding: 0;
    margin: 0;
}

.wrap {
    font: 12px Arial, san-serif;
}

h1.likert-header {
    padding-left: 4.25%;
    margin: 20px 0 0;
}

.statement {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0 0 4.25%;
    margin-bottom: 10px;
}

.likert {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 0 35px;
    display: block;
    border-bottom: 2px solid #efefef;
}

.likert:last-of-type {
    border-bottom: 0;
}

.likert:before {
    content: '';
    position: relative;
    top: 11px;
    left: 9.5%;
    display: block;
    background-color: #efefef;
    height: 4px;
    width: 78%;
}

.likert li {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;
}

.likert li input[type=radio] {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -6px;

}

.likert li label {
    width: 100%;
}

.buttons {
    margin: 30px 0;
    padding: 0 4.25%;
    text-align: right
}

.buttons button {
    padding: 5px 10px;
    background-color: #67ab49;
    border: 0;
    border-radius: 3px;
}

.buttons .clear {
    background-color: #e9e9e9;
}

.buttons .submit {
    background-color: #67ab49;
}

.buttons .clear:hover {
    background-color: #ccc;
}

.buttons .submit:hover {
    background-color: #14892c;
}